.gallery {

    .item-big {
        width: 550px;
        height: 385px;
        margin-left: 8%;
        background: $color-1;
    }

    .small-items {
        padding-top: 30px;
        padding-left: 30px;
    }
}
