.gallery {
    height: 542px;

    h3 {
        position: absolute;
        margin-left: 8%;
    }

    .item-big {
        position: relative;
        width: 590px;
        height: 300px;
        margin-top: 100px;
        margin-left: 8%;
    }

    .small-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 620px;
        margin-left: 4%;
        padding-top: 30px;

        .item {

            &:nth-last-child(n+6) {
                display: none;
            }
        }
    }
}
