.overview {

    .container {
        width: 100%;
        height: 100%;
        margin-top: 37px;

        .image {
            display: none;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 30px;
            padding-right: 24px;
            padding-left: 24px;
            text-align: center;

            .large {
                width: 100%;
            }

            .paragraps {
                column-count: 1;

                p {
                    padding-bottom: 10px;
                }
            }
        }
    }
}
