.overview {
    display: flex;
    position: relative;
    justify-content: center;
    overflow: hidden;
    background-color: #DBDBDB;

    .container {
        display: flex;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;

        .image {
            display: none;
            flex-shrink: 0;
            width: 350px;
            height: 425px;
            margin-top: 39px;
            background-color: $bg-color-4;
        }

        .text {
            position: relative;
            z-index: 0;
            width: 100%;
            margin-top: 60px;
            padding-top: 41px;
            padding-right: 55px;
            padding-left: 83px;

            h3 {
                padding-bottom: 0;
                color: $color-3;
                font-family: 'Montserrat', sans-serif;
                font-size: 30px;
                font-weight: 700;
            }

            h5 {
                padding-bottom: 30px;
                color: $color-3;
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;
            }

            @mixin paragraps {
                color: $color-3;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
            }

            .paragraps {
                column-count: 2;

                p {
                    @include paragraps();
                }
            }

            .large {
                @include paragraps();

                padding-top: 30px;
            }
        }
    }
}
