$bg-color-1:#EEEEEE;
$bg-color-2:#ED1C24;
$bg-color-3:#DBDBDB;
$bg-color-4:#898989;
$color-1:#FFFFFF;
$color-2:#111111;
$color-3:#222222;
.header {
    width: 100%;
    background: $bg-color-1;
    height: 425px;
    .container {
        width: 25%;
      .row-1 {
        width: 315px;
        height: 425px;
        margin-left: 55%;
        background-color: $bg-color-2;
        position: relative;
        padding-left: 34px;
        margin-left: 150px;
        .header-text {
          padding-top: 6px;
          h3 {
            font-family: "Montserrat";
            font-weight: 700;
            font-size: 18px;
            color: $color-1;
            &::first-letter {
              font-size: 26px;
              border: 3px solid $color-1;
              padding: 2px 10px;
            }
          }
        }
        .text {
          h3 {
            font-family: "Montserrat";
            font-size: 22px;
            line-height: 26px;
            font-weight: 700;
            color: $color-1;
            margin-top: -3px;
          }
          h2 {
            font-family: "Montserrat";
            font-size: 26px;
            line-height: 26px;
            font-weight: 700;
            color: $color-1;
            margin-top: -25px;
          }
          p {
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: $color-1;
            
            padding-top: 10px;
          }
          .free {
            margin-top: 20px;
  
            h3 {
              font-family: "Montserrat";
              font-size: 18px;
              color: $color-1;
              &::before {
                font-family: "FontAwesome";
                content: "\f0a9";
                color: $color-2;
                margin-right: 8px;
                font-size: 25px;
              }
            }
          }
  
          .photography {
            padding-top: 36px;
            p {
              width: 100px;
              font-family: "Montserrat";
              font-size: 10px;
              line-height: 18px;
              color: $color-1;
              background: #111111;
              text-align: center;
              padding: 0;
            }
          }
        }
        .icons {
          
          &::before{
              content:url('/images/header/Icons White.png');
              position: absolute;
              bottom: 0;
              right: 5px;
            }
        }
        .burger {
          width: 65px;
          height: 60px;
          background: $color-2;
          float: right;
          position: absolute;
          top: 0;
          right: -65px;
          .items {
            padding: 10px 19px;
            .burger-items {
              height: 5px;
              width: 27px;
              background-color: $color-1;
              margin-top: 6px;
            }
          }
        }
      }
    }
  
    .row-2 {
        display: flex;
       .first {
        width: 100%;
        height: 60px;
        background: $bg-color-3;
        float: left;
      }
      .second {
        width: 75%;
        height: 60px;
        background: $color-2;
        float: right;
        .icons {
          margin-left: 1000px;
  
          i {
            color: $color-1;
            padding: 15px 17px;
            font-size: 28px;
            border: 1px solid $color-1;
            margin-right: -5px;
            &:hover {
                color: $bg-color-2;
                cursor: pointer;
              }
          }
        }
      }
    }
  }
.overview {
    width:100%;
    height: 520px;
    margin-top: 80px;

    .posters {
        margin:0 auto;
        .first {
        background:$bg-color-3;
        width: 200px;
        height: 520px;
        float:left;
        }
        .second {
            background: $bg-color-4;
            width: 350px;
            height: 520px;
            float:left;
        }
    }
    .text{
        width: 50%;
        float: right;
        margin-right: 160px;
        h3{
            font-family:'Montserrat';
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            color:$color-3;
        }
        h5 {
            font-family:'Open Sans';
            font-size:20px;
            line-height: 30px;
            color: $color-3;
            font-weight: 300;
        }
        .paragraps{
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            .para{
                flex-direction: row;
                 width: 300px;
                 p{
                     font-family: 'Open Sans';
                     font-size: 14px;
                     font-weight: 300;
                     line-height: 20px;
                     color: $color-3;
                 }
            }
            .large{
                padding: 0;
                width: 600px;
            }
        }
    }
}

.gallery {
    background: $color-2;
    width:100%;
    height:520px;
    h3{
        font-family: 'Montserrat';
        font-size:30px;
        font-weight:700;
        line-height:36px;
        color:$color-1;
    }
    .item-big{
        width: 620px;
        height:410px;
        background: $color-1;
        margin-left:120px;
        float: left;
        margin-top:50px;
    }
    .small-items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 350px;
        padding-top: 60px;
        padding-left:30px;
        .item {
            background: $color-1;
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
            &:hover{
                border:7px solid $bg-color-2;
                cursor: pointer;
            }

        }

    }
    
    
}