.header {

    .row-1 {

        .block {
            width: 271px;
            margin-right: -19px;
            margin-left: 24px;

            .icons {
                right: 71px;

                &::before {
                    position: absolute;
                    right: 117px;
                    bottom: 0;
                }
            }

            .text {

                .par {

                    p {
                        padding-right: 10px;
                    }

                    &::after {
                        width: 155px;
                    }

                    &::before {
                        width: 155px;
                    }
                }
            }
        }

        .container {
            display: flex;
            justify-content: center;
            width: 100%;

            .burger {
                width: 50px;
                height: 50px;
                transform: translate(-62%, 40%);

                .items {
                    padding: 5px 11px;
                }
            }
        }
    }

    .row-2 {

        .container {
            display: flex;
            width: 100%;
            height: 40px;

            div {
                display: none;
            }

            &::before {
                left: 0;
            }
        }
    }
}
